---
import Layout from "../../layouts/Page.astro";
import { storefront } from "../../storefront";

const { slug } = Astro.params;

const product = await storefront.products.getOne({ slug: slug! });

if (!product) {
  throw new Error();
}
---

<Layout>
  <h1>{product.name}</h1>
  <Fragment set:html={product.descriptionHtml} />
</Layout>
