---
import { storefront } from "../../storefront";

const { slug } = Astro.params;

const product = await storefront.products.getOne({ slug: slug! });

if (!product) {
  throw new Error();
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{product.name} | Storefront</title>
  </head>
  <body>
    <h1>{product.name}</h1>
    <Fragment set:html={product.descriptionHtml} />
  </body>
</html>
