---
import type { Product } from "@withstorefront/storefront";
import ProductCard from "./ProductCard.astro";

export interface Props {
  products: Product[];
  name: string;
}

const { products, name } = Astro.props;

function sortProducts(a: Product, b: Product) {
  return a.name.localeCompare(b.name);
}
---

<section>
  <header>
    <h1>{name}</h1>
    <a href="/collections/all">View all</a>
  </header>
  <ul>
    {
      products.sort(sortProducts).map((product) => (
        <li>
          <ProductCard {product} />
        </li>
      ))
    }
  </ul>
</section>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    gap: var(--space-m-l) var(--space-s-m);

    margin: 0;
    padding: 0;

    list-style: none;
  }
</style>
