---
import Layout from "../layouts/Page.astro";
import { storefront } from "../storefront";

const products = await storefront.products.getAll({});
---

<Layout>
  <h1>Storefront</h1>
  <ul>
    {
      products.map((product) => (
        <li>
          <article>
            <h3>
              <a href={`/products/${product.slug}`}>{product.name}</a>
            </h3>
          </article>
        </li>
      ))
    }
  </ul>
</Layout>
